[submodule "git/use-package"]
	path = git/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "git/haskell-ide-engine"]
	path = git/haskell-ide-engine
	url = git@github.com:haskell/haskell-ide-engine.git
[submodule "git/tintin-mode"]
	path = git/tintin-mode
	url = git@github.com:sunwayforever/tintin-mode.git
[submodule "git/flycheck-purescript"]
	path = git/flycheck-purescript
	url = git@github.com:bsermons/flycheck-purescript.git
[submodule "git/diminish.el"]
	path = git/diminish.el
	url = https://github.com/myrjola/diminish.el
[submodule "git/mix-format"]
	path = git/mix-format
	url = https://github.com/anildigital/mix-format.el.git
[submodule "git/flycheck-elm.git"]
	path = git/flycheck-elm.git
	url = https://github.com/lattenwald/flycheck-elm.git
